<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="fragments/head :: common"></th:block>
    <title>지역명 관리</title>
</head>
<body class="ui grid">
<div style="padding: 50px 0">
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>지역명</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cpDistricInfo : ${cpDistricInfoPage}">
            <td th:text="${cpDistricInfo.id}"></td>
            <td><a th:href="@{'/cp-distric-info/'+${cpDistricInfo.id}}" th:text="${cpDistricInfo.districtName}"></a></td>
            <td th:text="${cpDistricInfo.registDt}"></td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{/cp-distric-info-edit}" class="">생성</a>
    </div>

    <div class="">
        <th:block th:if="${cpDistricInfoPageInfo.previousPaging != null}">
            <div>
                <a th:href="@{/cp-distric-info(page=1)}">첫페이지</a>
            </div>
            <div>
                <a th:href="@{/cp-distric-info(page=${cpDistricInfoPageInfo.previousPaging} + 1)}"><i class="angle double left icon"></i></a>
            </div>
        </th:block>

        <th:block th:each="i: ${#numbers.sequence(cpDistricInfoPageInfo.startPageNum, cpDistricInfoPageInfo.lastPageNum)}">
            <div th:if="${cpDistricInfoPage.number == i}">[[${i}+1]]</div>
            <div th:unless="${cpDistricInfoPage.number == i}">
                <a th:href="@{/cp-distric-info(page=${i}+1)}">[[${i}+1]]</a>
            </div>
        </th:block>
        <th:block th:if="${cpDistricInfoPageInfo.nextPaging != null}">
            <div>
                <a th:href="@{/cp-distric-info(page=${cpDistricInfoPageInfo.nextPaging} + 1)}"></a>
            </div>
            <div>
                <a th:href="@{/cp-distric-info(page=${cpDistricInfoPage.totalPages})}">끝페이지</a>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>