<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>공지사항</title>
</head>
<body>
<div style="padding: 50px 0">
    <div>
        <div>
            <div>
                <div th:text="'작성일시 : '+${cpDistricInfo.registDt}"></div>
                <div th:text="'최종 수정일시 : '+${cpDistricInfo.updtDt}"></div>
            </div>
        </div>

        <div>
            <label>지역명</label>
            <p th:text="${cpDistricInfo.cpLocalInfo.localName}"></p>
        </div>
        <div>
            <label>지구명</label>
            <p th:text="${cpDistricInfo.districtName}"></p>
        </div>
    </div>
    <div>
        <button id="back">이전으로</button>
        <form style="display: inline" th:method="DELETE" th:action="@{'/cp/distric-info/' + ${cpDistricInfo.id}}"
              onsubmit="return confirm('정말 삭제하시겠습니까?');">
            <button type="submit" class="right floated ui red button">삭제</button>
        </form>
        <a th:href="@{'/cp/distric-info-edit/' + ${cpDistricInfo.id}}" class="right floated ui button">수정</a>
    </div>
</div>
</body>
</html>