<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="landscapeDiffWarp">
    <!-- LandScpaeDiff DropdownList -->
    <script id="landscapeDiffSource" type="text/x-handlebars-template">
        <form id="landscapeDataForm" method="post" onsubmit="return false;">
            <div class="form-group form-group-data">
                <label for="landscapeGroup">경관그룹</label>
                <select id="landscapeGroup" name="landscapeGroup">
                    {{#landscapeGroupList}}
                    <option value="{{id}}">
                        {{lsDiffGrupName}}
                    </option>
                    {{/landscapeGroupList}}
                </select>
            </div>
            <div class="form-group form-group-data">
                <label for="landscapeName">경관명</label>
                <input type="text" id="landscapeName" name="landscapeName" placeholder="데이터명을 입력하여 주십시오." size="30">
            </div>
            <div class="form-group form-group-data">
                <button type="submit" id="landscapeSaveBtn" class="btnTextF search-text" title="검색">저장</button>
            </div>
        </form>
    </script>

    <!-- LandScpaeDiff Page -->
    <script id="landscapeDiffContentSource" type="text/x-handlebars-template">
        <div id="dataListDHTML" style="height:calc(100% - 255px)">
            <div class="dataBtns"></div>
            <div class="tableList marT10 yScroll" style="height: calc(100% - 43px)">
                <table summary="데이터 목록">
                    <caption class="hiddenTag">데이터 목록</caption>
                    <colgroup>
                        <col class="col-width-12">
                        <col class="col-width-12">
                        <col class="col-width-12">
                        <col class="col-width-12">
                        <col class="col-width-12">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>경관명</th>
                        <th>이동</th>
                        <th>확인</th>
                        <th>삭제</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#greaterThan size 0}}
                        {{#each page}}
                            <tr>
                                <td><span class="no">{{id}}</span></td>
                                <td>
                                    <span class="no">{{lsDiffName}}</span>
                                </td>
                                <td>
                                    <button type="button" class="goto" th:text="이동"
                                            th:title="이동" style="margin: 0px; padding: 0px;"
                                            onclick="gotoScene('{{id}}')">
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="showHideButton show"
                                            th:text="조회" onclick="showData('{{id}}')">
                                    </button>
                                </td>
                                <td>
                                    <form method="post" action="">
                                        <button type="button" class="showHideButton delete"
                                                th:text="삭제" onclick="deleteData('{{id}}')">
                                        </button>
                                    </form>

                                </td>
                            </tr>
                        {{/each}}
                    {{else}}
                        <tr>
                            <td colspan="5" style="height: 30px;">데이터가 존재하지 않습니다.</td>
                        </tr>
                    {{/greaterThan}}
                    </tbody>
                </table>
            </div>
            {{#greaterThan size 0}}
                <ul class="pagination">
                    <li class="ico first"
                        onclick="paginLandScapeList(1);">
                    </li>
                    <li class="ico forward"
                        onclick="paginLandScapeList({{#plus pagenationInfo.previousPaging 1}}{{/plus}})">
                    </li>
                    {{#forEachStep pagenationInfo.startPageNum pagenationInfo.lastPageNum 1}}
                        {{#numberEqual this ../nowPageNum}}
                            <li class="on" onclick="paginLandScapeList({{#plus this 1}}{{/plus}})">{{#plus this 1}}{{/plus}}</li>
                        {{else}}
                            <li  onclick="paginLandScapeList({{#plus this 1}}{{/plus}})">{{#plus this 1}}{{/plus}}</li>
                        {{/numberEqual}}
                    {{/forEachStep}}
                    <li class="ico back"
                        onclick="paginLandScapeList({{#plus pagenationInfo.nextPaging 1}}{{/plus}});">
                    </li>
                    <li class="ico end"
                        onclick="paginLandScapeList('{{landScapePage.totalPages}}');">
                    </li>
                </ul>
            {{/greaterThan}}
        </div>
    </script>
</div>