<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="lsFreeAnalsWarp">
    <script id="lsFreeAnalsWidget" type="text/x-handlebars-template">
        <div class="form-group form-group-data">
            <label for="landscapeGroup">라인 생성</label>
            <!-- Rounded switch -->
            <label class="switch">
                <input id="lsDrawLineChk" type="checkbox">
                <span class="slider round"></span>
            </label>
            <button type="submit" id="landscapeAnalsBtn" class="btnTextF search-text" title="분석">분석</button>
        </div>
    </script>
</div>