<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="lsFreeAnalsWarp">
    <script id="lsFreeAnalsWidget" type="text/x-handlebars-template">
        <div class="form-group form-group-data">
            
			<button type="button" class="btnTextF search-text ds-create-two-points" >위치선택</button>
			<!-- 화면에 표시되지 않음 -->
			<button type="button" class="btnTextF search-text display-none init-lsanals" >초기화</button>

			<!--
            <button type="submit" id="landscapeAnalsBtn" class="btnTextF search-text" title="분석">분석</button>
			-->
        </div>
    </script>
</div>