<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>지구게획 카테고리 관리</title>
</head>
<body>

<!-- Local Div start -->
<div style="padding: 50px 0">
    <h3>지역 목록</h3>
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>지역명</th>
            <th>등록일</th>
            <th>확인</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cpLocalInfo : ${cpLocalInfoPage}">
            <td th:text="${cpLocalInfo.id}"></td>
            <td><a th:href="@{'/cp/local-info/'+${cpLocalInfo.id}}" th:text="${cpLocalInfo.localName}"></a></td>
            <td th:text="${cpLocalInfo.registDt}"></td>

            <td>
                <a th:href="@{'/cp/local-info/' + ${cpLocalInfo.id}}" class="right floated ui button">확인</a>
            </td>
            <td>
                <a th:href="@{'/cp/local-info-edit/' + ${cpLocalInfo.id}}" class="right floated ui button">수정</a>
            </td>
            <td>
                <form style="display: inline" th:method="DELETE" th:action="@{'/cp/local-info/' + ${cpLocalInfo.id}}"
                      onsubmit="return confirm('정말 삭제하시겠습니까?');">
                    <button type="submit" class="right floated ui red button">삭제</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="">
        <th:block th:if="${cpLocalInfoPageInfo.previousPaging != null}">
            <div>
                <a th:href="@{/local-info(localPage=1)}">첫페이지</a>
            </div>
            <div>
                <a th:href="@{/local-info(localPage=${cpLocalInfoPageInfo.previousPaging} + 1)}"><i class="angle double left icon"></i></a>
            </div>
        </th:block>

        <th:block th:each="i: ${#numbers.sequence(cpLocalInfoPageInfo.startPageNum, cpLocalInfoPageInfo.lastPageNum)}">
            <div th:if="${cpLocalInfoPage.number == i}">[[${i}+1]]</div>
            <div th:unless="${cpLocalInfoPage.number == i}">
                <a th:href="@{/local-info(localPage=${i}+1)}">[[${i}+1]]</a>
            </div>
        </th:block>
        <th:block th:if="${cpLocalInfoPageInfo.nextPaging != null}">
            <div>
                <a th:href="@{/local-info(localPage=${cpLocalInfoPageInfo.nextPaging} + 1)}"></a>
            </div>
            <div>
                <a th:href="@{/local-info(localPage=${cpLocalInfoPage.totalPages})}">끝페이지</a>
            </div>
        </th:block>
    </div>
</div>
<!-- Local Div start -->

<!-- Distric Div start -->
<div style="padding: 50px 0">
    <h3>지구 목록</h3>
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>지역명</th>
            <th>지구명</th>
            <th>등록일</th>
            <th>확인</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cpDistricInfo : ${cpDistricInfoPage}">
            <td th:text="${cpDistricInfo.id}"></td>
            <td th:text="${cpDistricInfo.cpLocalInfo?.localName}"></td>
            <td><a th:href="@{'/cp/distric-info/'+${cpDistricInfo.id}}" th:text="${cpDistricInfo.districtName}"></a></td>
            <td th:text="${cpDistricInfo.registDt}"></td>
            <td>
                <a th:href="@{'/cp/distric-info/' + ${cpDistricInfo.id}}" class="right floated ui button">확인</a>
            </td>
            <td>
                <a th:href="@{'/cp//distric-info-edit/' + ${cpDistricInfo.id}}" class="right floated ui button">수정</a>
            </td>
            <td>
                <form style="display: inline" th:method="DELETE" th:action="@{'/cp/distric-info/' + ${cpDistricInfo.id}}"
                      onsubmit="return confirm('정말 삭제하시겠습니까?');">
                    <button type="submit" class="right floated ui red button">삭제</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="">
        <th:block th:if="${cpDistricInfoPageInfo.previousPaging != null}">
            <div>
                <a th:href="@{/local-info(districPage=1)}">첫페이지</a>
            </div>
            <div>
                <a th:href="@{/local-info(districPage=${cpDistricInfoPageInfo.previousPaging} + 1)}"><i class="angle double left icon"></i></a>
            </div>
        </th:block>

        <th:block th:each="i: ${#numbers.sequence(cpDistricInfoPageInfo.startPageNum, cpDistricInfoPageInfo.lastPageNum)}">
            <div th:if="${cpDistricInfoPage.number == i}">[[${i}+1]]</div>
            <div th:unless="${cpDistricInfoPage.number == i}">
                <a th:href="@{/local-info(districPage=${i}+1)}">[[${i}+1]]</a>
            </div>
        </th:block>
        <th:block th:if="${cpDistricInfoPageInfo.nextPaging != null}">
            <div>
                <a th:href="@{/local-info(districPage=${cpDistricInfoPageInfo.nextPaging} + 1)}"></a>
            </div>
            <div>
                <a th:href="@{/local-info(districPage=${cpDistricInfoPage.totalPages})}">끝페이지</a>
            </div>
        </th:block>
    </div>
</div>
<!-- Distric Div end -->
</body>
</html>