<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lhdt.persistence.MicroServiceMapper">

	<!-- 서비스 목록 -->
	<select id="getListMicroService" parameterType="microService" resultType="microService">
		/* getListMicroService */
		SELECT *
		FROM micro_service
		<trim prefix="WHERE" prefixOverrides="AND">
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
			<if test="microServiceName != null and microServiceName != ''">
				AND micro_service_name = #{microServiceName}
			</if>
			<if test="microServiceType != null and microServiceType != ''">
				AND micro_service_type = #{microServiceType}
			</if>
		</trim>
		ORDER BY micro_service_id, insert_date DESC
	</select>

	<!-- 서비스 정보 -->
	<select id="getMicroService" parameterType="int" resultType="microService">
		/* getMicroService */
		SELECT * FROM micro_service WHERE micro_service_id = #{microServiceId}
	</select>

	<!-- 서비스 등록 -->
	<insert id="insertMicroService" parameterType="microService" >
		/* insertMicroService */
		<selectKey keyProperty="microServiceId" resultType="int" order="BEFORE">
			SELECT NEXTVAL('micro_service_seq')
		</selectKey>
		INSERT INTO micro_service (
			micro_service_id, micro_service_key, micro_service_name, micro_service_type, server_ip, api_key,
			url_scheme, url_host, url_port, url_path, status, available, description
		) values(
			#{microServiceId}, #{microServiceKey}, #{microServiceName}, #{microServiceType}, #{serverIp}, #{apiKey},
			#{urlScheme}, #{urlHost}, #{urlPort}, #{urlPath}, #{status}, #{available}, #{description}
		)
	</insert>

	<!-- 서비스 수정 -->
	<update id="updateMicroService" parameterType="microService">
		/* updateMicroService */
		UPDATE micro_service
		SET micro_service_name = #{microServiceName},
			micro_service_type = #{microServiceType},
			server_ip = #{serverIp},
			api_key = #{apiKey},
			url_scheme = #{urlScheme},
			url_host = #{urlHost},
			url_port = #{urlPort},
			url_path = #{urlPath},
			status = #{status},
			available = #{available},
			description = #{description}
		WHERE micro_service_id = #{microServiceId}
	</update>
</mapper>