<script id="districtPaginationSource" type="text/x-handlebars-template">
{{#if pagination.totalCount}}
    <ul class="pagination">
    {{#if pagination.existPrePage}}
        <li class="ico first" onClick="event.stopPropagation();districtSearch(1);"></li>
        <li class="ico forward" onClick="event.stopPropagation();districtSearch('{{pagination.prePageNo}}');"></li>
    {{/if}}

    {{#each pagination.pageList}}
        {{#if (indexCompare this ../pagination.pageNo)}}
            <li class="on"><a href='#'>{{this}}</a></li>
        {{else}}
            <li onClick="event.stopPropagation();districtSearch('{{this}}');"><a href='#'>{{this}}</a></li>
        {{/if}}
    {{/each}}

    {{#if pagination.existNextPage}}
        <li class="ico back" onClick="event.stopPropagation();districtSearch('{{pagination.nextPageNo}}');"></li>
        <li class="ico end" onClick="event.stopPropagation();districtSearch('{{pagination.lastPage}}');"></li>
    {{/if}}
    </ul>
{{/if}}
</script>