@charset "UTF-8";


.btn {
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.btn.active {
	color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-primary {
	color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}


.btn-default{
	color: #333;
    background-color: #fff;
    border-color: #ccc;
}


.btn-warning{
	color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}


.btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
}


.btn-sm {
	padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.btn-xs{
	padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}




.border{	
	border: 1px solid #dee2e6!important;
}




/*ds*/
.col-width-10 {width:10% !important;}
.col-width-15 {width:15% !important;}
.col-width-20 {width:20% !important;}
.col-width-25 {width:25% !important;}
.col-width-30 {width:30% !important;}
.col-width-35 {width:35% !important;}
.col-width-40 {width:40% !important;}
.col-width-45 {width:45% !important;}
.col-width-50 {width:50% !important;}

.col {width: 100%;}
.col-1 {width: 8%;}
.col-2 {width: 16%;}
.col-3 {width: 25%;}
.col-6 {width: 50%;}
.col-9 {width: 75%;}



.float-left {
	float: left!important;
}


.float-right {
	float: right!important;
}


.label{
	display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label-default {
	background-color: #777;
}

.text-left {text-align:left  !important;}
.text-center {text-align:center  !important;}
.text-right {text-align:right  !important;}


.mt-2 {margin-top:2px !important;}
.mt-5 {margin-top:5px !important;}
.mt-10 {margin-top:10px !important;}
.mt-15 {margin-top:15px !important;}
.mt-20 {margin-top:20px !important;}


.mr-10 {margin-right:10px !important;}


.ml-5 {margin-left:10px !important;}
.ml-10 {margin-left:10px !important;}
.ml-15 {margin-left:10px !important;}



.cursor-pointer {cursor:pointer !important;}
.cursor-default {cursor:default !important;}

.display-none {display:none !important;}
.d-none {display:none !important;}
.d-inline {display: inline!important}

.p-7 {padding: 7px !important;}

.w-30 {width:30% !important;}
.w-32 {width:32% !important;}
.w-33 {width:33% !important;}
.w-35 {width:35% !important;}
.w-40 {width:40% !important;}
.w-45 {width:45% !important;}
.w-49 {width:49% !important;}
.w-50 {width:50% !important;}



.table{
	width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;	
    
    border-collapse: collapse;
    
    display: table;
    border-spacing: 2px;
    border-color: grey;
}

.table > thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.table > thead > tr {
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table > thead > tr > th {
	vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    display: table-cell;
}


.table > tbody {
	display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.table > tbody > tr {
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table > tbody > tr > td{
	padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    display: table-cell;
}



.ui-dialog { z-index: 1000 !important ;}

.fw-bold {font-weight: bold !important;}

.color-red {color:red !important;}
.color-normal { color: #3f48cc !important}
.color-exceed { color: #cc3f3f !important}


.form-control {
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	overflow: visible;
}


button.textBtnSub.active {background-color:#258FFF; color:white; font-weight:bold;background-image: url('../../images/ico_checked.png') !important; background-repeat: no-repeat; background-size: 32px;}
button[class*=ds-tool], button[class*=design-layer-tool] {margin-bottom:2px;}
button[class*=ds-tool][class=active] {background-image: '../../images/ico_checked.png'; background-repeat: no-repeat;}

table.ds-data-library-list > tbody > tr {font-weight:normal; background-color:white;}
table.ds-data-library-list > tbody > tr.on {font-weight:bold !important; background-color:lightyellow !important;}
table.design-layers > tbody > tr {font-weight:normal; background-color:white;}
table.design-layers > tbody > tr.on {font-weight:bold !important; background-color:lightyellow !important;}

div.design-layer-modeless-wrapper select {
    margin: 0;
    outline: 0;
    vertical-align: middle;
    font-family: Arial,Helvetica,sans-serif;
    border-color: #d5d5d5;
    color: #7d7d7d;
    font-size: small;
    line-height: 1.5em;
    padding: 5px;
    width: 50px;
}

div.design-layer-modeless-wrapper button[class*=floor-co] {
    margin: 0;
    outline: 0;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    padding: 5px;
    line-height: 1.5em;
    font-size: small;
    vertical-align: middle;
    width: 30px;
}




table[class*=design-layer],
table[class=sunshine-result-report-table] {
    color: #444;
    font-family: 'Malgun Gothic','돋움',dotum, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    list-style: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: top;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: calc(100% - 1px);
}

table[class*=design-layer] > thead,
table[class=sunshine-result-report-table] > thead {
    color: #444;
    font-family: 'Malgun Gothic','돋움',dotum, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    list-style: none;
    cursor: pointer;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: top;
}

table[class*=design-layer] > thead > tr,
table[class=sunshine-result-report-table] > thead > tr {
    color: #444;
    font-family: 'Malgun Gothic','돋움',dotum, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    list-style: none;
    cursor: pointer;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: top;
}

table[class*=design-layer] > thead > tr > th,
table[class=sunshine-result-report-table] > thead > tr > th {
    list-style: none;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    outline: 0;
    color: #444;
    font-family: 'Malgun Gothic','돋움',dotum, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    background-color: #f3f3f3;
    word-break: break-all;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    padding: 3px 0;
    cursor: default;
    text-align: center;
    border-top: 2px solid #19334a;
}

table[class*=design-layer] > thead > tr > th:last-child {
    list-style: none;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    outline: 0;
    color: #444;
    font-family: 'Malgun Gothic','돋움',dotum, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    background-color: #f3f3f3;
    word-break: break-all;
    vertical-align: middle;
    padding: 3px 0;
    cursor: default;
    text-align: center;
    border-top: 2px solid #19334a;
    border-right: none;
}

table[class*=design-layer] > tbody,
table[class=sunshine-result-report-table] > tbody {
    color: #444;
    font-family: 'Malgun Gothic','돋움',dotum, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    list-style: none;
    cursor: pointer;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: top;
}

table[class*=design-layer] > tbody > tr,
table[class=sunshine-result-report-table] > tbody > tr {
    color: #444;
    font-family: 'Malgun Gothic','돋움',dotum, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    list-style: none;
    cursor: pointer;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: top;
    font-weight: normal;
    background-color: white;
}

table[class*=design-layer] > tbody > tr > td,
table[class=sunshine-result-report-table] > tbody > tr > td {
    list-style: none;
    border-collapse: collapse;
    border-spacing: 0;
    font-weight: normal;
    margin: 0;
    outline: 0;
    color: #444;
    font-family: 'Malgun Gothic','돋움',dotum, sans-serif;
    line-height: 1.5em;
    word-break: break-all;
    vertical-align: middle;
    padding: 7px 5px;
    border-right: 1px solid #ccc;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    cursor: default;
}

table[class*=design-layer] > tbody > tr > td:last-child {
    list-style: none;
    border-collapse: collapse;
    border-spacing: 0;
    font-weight: bold !important;
    margin: 0;
    outline: 0;
    color: #afafaf;
    font-family: 'Malgun Gothic','돋움',dotum, sans-serif;
    line-height: 1.5em;
    /* text-align: left  !important; */
    word-break: break-all;
    vertical-align: middle;
    padding: 7px 5px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
    border-right: none;
}

/*201022 추가*/
.direction{
	font-size: 18px;
	padding: 5px;
	box-sizing: border-box;
	text-align: center;
	color: #fff;
}

/*intro*/

#introContainer{
	background: url(/images/ko/intro_bg.jpg)no-repeat;
	z-index: 1000;
	display:block;
	position: absolute;
	right: 0;
	width: calc(100% - 77px);
	height: 100%;
}
#introContainer .title{
	margin: 100px auto;
	width: 50%;
}
#introContainer .title .title_box{
	border: 10px solid #fff;
}
#introContainer .title .title_box p{
	color:#fff;
	font-size: 4.5em;
	line-height: 70px;
	font-weight:600;
	text-align:center;
	padding: 30px;
}
#introContainer .new_town{
	margin: 0 8%;
}
#introContainer .new_town .ntn_box{
    display: inline-block;
    width: calc(25% - 25px);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 28px;
    margin-bottom: 20px;
    position:relative;
}
#introContainer .new_town .ntn_box:before{
    position:absolute;
    content:'';
    width: 60px;
    background: #eee;
    height: 3px;
}
#introContainer .new_town .wangsuk{
     background: url(/images/ko/intro_con01.jpg)no-repeat;
}
#introContainer .new_town .wangsuk{
     background: url(/images/ko/intro_con01.jpg)no-repeat;
}
#introContainer .new_town .hanam{
     background: url(/images/ko/intro_con02.jpg)no-repeat;
}
#introContainer .new_town .inchon{
     background: url(/images/ko/intro_con03.jpg)no-repeat;
}
#introContainer .new_town .goyang{
     background: url(/images/ko/intro_con04.jpg)no-repeat;
}
#introContainer .new_town .buchun{
     background: url(/images/ko/intro_con05.jpg)no-repeat;
}
#introContainer .new_town .gachun{
     background: url(/images/ko/intro_con06.jpg)no-repeat;
}
#introContainer .new_town .ansan{
     background: url(/images/ko/intro_con07.jpg)no-repeat;
}
#introContainer .new_town .sejong{
     background: url(/images/ko/intro_con08.jpg)no-repeat;
}
#introContainer .new_town .wangsuk:before{
	background: #a2ffe6;
}
#introContainer .new_town .hanam:before{
	background: #e192ff;
}
#introContainer .new_town .inchon:before{
	background: #ff6f29;
}
#introContainer .new_town .goyang:before{
	background: #ffda45;
}
#introContainer .new_town .buchun:before{
	background: #46a3fa;
}
#introContainer .new_town .gachun:before{
	background: #00eaff;
}
#introContainer .new_town .ansan:before{
	background: #00ff60;
}

#introContainer .new_town .sejong:before{
	background: #ffba76;
}

#introContainer .new_town .ntn_box:nth-child(4n){
	margin:0;
}
#introContainer .new_town .ntn_box a{
	color: #fff;
	display: block;
	padding: 40px 20px;
	position: relative;
}
#introContainer .new_town .ntn_box a h3{
	font-size: 1.7em;
	margin-bottom: 10px;
}
#introContainer .new_town .ntn_box a p{
	
}
#introContainer .new_town .ntn_box a span{
	position: absolute;
	right: 30px;
	top: 80px;
	background: url(/images/ko/intro_more.png)no-repeat;
	width: 62px;
	height: 51px;
	text-indent: -9999px;
}

/*search*/
.search_box{
	position: absolute;
	right: 240px;
	top: 15px;
}
.search_box a{
	
}
.search_box a p{
	color: #fff;
	padding-bottom: 5px;
	display: inline-block;
	margin: 0 10px;
}
.search_box a span{
	background: url(/images/ko/head_search.png)no-repeat;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
	display: inline-block;
}


/*search*/
.search{
	position: absolute;
	top: 50px;
	z-index: 99999;
	right: 0;
	width: calc(100% - 77px);
	background: #fff;
}
.search .search_in{
	width: 35%;
	margin: 0 auto;
	padding: 20px 0;
	text-align: center;
}
.search .search_in input{
	background: none;
	border: none;
	border-bottom: 2px solid #464646;
	width: 80%;
	padding-bottom: 10px;
}
.search .search_in button{
	background: url(/images/ko/search_button.png)no-repeat;
	border: none;
	text-indent: -9999px;
	width: 34px;
	height: 34px;
}


