<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="userPolicyContent" class="contents yScroll fullHeight" style="display:none;">
	<div class="userPolicyContentWrap">
		<form id="userPolicy" th:object="${userPolicy}" method="post" th:action="@{#}" onsubmit="return false;">
			<input type="hidden" id="userPolicyId" name="userPolicyId"/>
		<div class="userPolicyContent">
			<div class="button-group-align marB10">
				<h3 class="h3-heading" th:text="#{policy.init.position}"></h3>
				<button type="button" id="findStartPoint" class="btnTextF right-align" th:text="#{common.select}"></button>
			</div>
			<div class="userPolicyContentDetail">
				<div class="form-group form-group-policy">
					<label for="initLongitude" th:text="#{common.longitude}"></label>
					<input type="text" id="initLongitude" name="initLongitude" th:field="*{initLongitude}" size="15" />M
				</div>
				<div class="form-group form-group-policy">
					<label for="initLatitude" th:text="#{common.latitude}"></label>
					<input type="text" id="initLatitude" name="initLatitude" th:field="*{initLatitude}" size="15" />M
				</div>
				<div class="form-group form-group-policy">
					<label for="initAltitude" th:text="#{common.altitude}"></label>
					<input type="text" id="initAltitude" name="initAltitude" th:field="*{initAltitude}" size="15" />M
				</div>
				<div class="form-group form-group-policy">
					<label for="initDuration" th:text="#{policy.init.duration}"></label>
					<input type="text" id="initDuration" name="initDuration" th:field="*{initDuration}" size="15" />S
				</div>
			</div>
		</div>
		
		<!-- 
		임시
		시연용
		나중에 삭제요망
		gravity
		1014
		 -->

		<script type="text/javascript">
		window.addEventListener('load', function(){
			$('#show-label').click(function() {
				let b = $(this).is(':checked');
				//console.log(b);
				var magoManager = Ppmap.getManager();
				Ppmap.getManager().magoPolicy.setShowLabelInfo(b);
			});

			$('#show-property').click(function(){
				let b = $(this).is(':checked');
				//console.log(b);
				
				if(b){
					Ppmap.getManager().defaultSelectInteraction.setTargetType('f4d');
					Ppmap.getManager().defaultSelectInteraction.setActive(true);
					Ppmap.getManager().isCameraMoved = true;
					Ppmap.getManager().on(Mago3D.MagoManager.EVENT_TYPE.SELECTEDF4D, window['selectedf4dCallback']);
				}else{
					Ppmap.getManager().defaultSelectInteraction.setActive(false);
					Ppmap.getManager().off(Mago3D.MagoManager.EVENT_TYPE.SELECTEDF4D, window['selectedf4dCallback']);					
				}
				
				console.log(b, window['selectedf4dCallback']);
			});	
			
			
			//
			window['selectedf4dCallback'] = function(evt){
				var selectionManager = Ppmap.getManager().selectionManager;
				var selected = Ppmap.getManager().selectionManager.getSelectedF4dNode();
				console.log(evt, selected);


				let dataId = selected.data.dataId;

				let p = {};
				//코리빙 200975
				p['200975'] = {w: 650, h: 64, title: '의료/커뮤니티케어'};
				p['200923'] = {w: 650, h: 64, title: '청년발전소'};
				//청년발전소 200939
				p['200939'] = {w: 900, h: 400, title: '코리빙/코워킹스페이스 & 첨단생활물류'};

				// 코드 변경으로 인한 주석처리
				if(Pp.isEmpty(p[dataId])){
					return;
				}

				$('.dialog-show-property img').addClass('d-none');
				$('.dialog-show-property img.' + dataId).removeClass('d-none')
					.css('width', p[dataId].w)
					.css('height', p[dataId].h);
				
				//모달 실행
				$('.dialog-show-property').dialog({
					autoOpen: false,
					modal: true,
					resizable: false,
					title: p[dataId].title,
					width: p[dataId].w + 50,
					height: p[dataId].h + 150,
					buttons: {
						'닫기': function(){
							$(this).dialog('close')
						}
					}
				}).dialog('open');
			};
		});
		
		</script>
		
		<div class="dialog-show-property" style="display:none;">
			<img th:src="@{/images/temp/200975.png}" class="200939 d-none" />
			<img th:src="@{/images/temp/200939.png}" class="200975 d-none" />
			<img th:src="@{/images/temp/200939.png}" class="200923 d-none" />
		</div>
		<!-- //임시 -->
		
		<button class="focusA btn-full" th:text="#{common.save}" th:onclick="'userPolicyUpdate();'"></button>
		</form>
	</div>
</div>
</html>
