<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="userPolicyContent" class="contents yScroll fullHeight" style="display:none;">
	<div class="userPolicyContentWrap">
		<form id="userPolicy" th:object="${userPolicy}" method="post" th:action="@{#}" onsubmit="return false;">
			<input type="hidden" id="userPolicyId" name="userPolicyId"/>
		<div class="userPolicyContent">
			<div class="button-group-align marB10">
				<h3 class="h3-heading" th:text="#{policy.init.position}"></h3>
				<button type="button" id="findStartPoint" class="btnTextF right-align" th:text="#{common.select}"></button>
			</div>
			<div class="userPolicyContentDetail">
				<div class="form-group form-group-policy">
					<label for="initLongitude" th:text="#{common.longitude}"></label>
					<input type="text" id="initLongitude" name="initLongitude" th:field="*{initLongitude}" size="15" />M
				</div>
				<div class="form-group form-group-policy">
					<label for="initLatitude" th:text="#{common.latitude}"></label>
					<input type="text" id="initLatitude" name="initLatitude" th:field="*{initLatitude}" size="15" />M
				</div>
				<div class="form-group form-group-policy">
					<label for="initAltitude" th:text="#{common.altitude}"></label>
					<input type="text" id="initAltitude" name="initAltitude" th:field="*{initAltitude}" size="15" />M
				</div>
				<div class="form-group form-group-policy">
					<label for="initDuration" th:text="#{policy.init.duration}"></label>
					<input type="text" id="initDuration" name="initDuration" th:field="*{initDuration}" size="15" />S
				</div>
			</div>
		</div>
		<button class="focusA btn-full" th:text="#{common.save}" th:onclick="'userPolicyUpdate();'"></button>
		</form>
	</div>
</div>
</html>
