<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="landscapeContent" class="contents yScroll fullHeight" style="display:none;">
    <ul class="listDrop">
        <li class="on">
            <p th:text="가시권분석"><span class="collapse-icon">icon</span></p>
            <div id="visibilityProcess" class="listContents">
                <ul>
                    <li>
                        <label for="visibilityToggle" th:text="활성화"></label>
                        <input type="checkbox" id="visibilityToggle" value="" placeholder=""/>
                        <button type="button" id="visibilityBtn" th:text="작동"></button>
                    </li>
                </ul>
            </div>
        </li>
        <li class="on">
            <p th:text="경관분석"><span class="collapse-icon">icon</span></p>
            <div id="landScapeAnalsProcess"
                 style="display: block;
                padding: 10px;
                border: 1px solid #e0e0e0;
                background-color: #fff;">
                <div class="form-group form-group-data">
                    <label for="lsAnalsActionGroup">작업 방식</label>
                    <select id="lsAnalsActionGroup" name="lsAnalsActionGroup">
                        <option value="0">
                            자율분석
                        </option>
                        <option value="1">
                            저장된데이터기반분석
                        </option>
                    </select>
                </div>
                <div id="lsAnalsContent">

                </div>
            </div>
        </li>
        <li class="on">
            <p th:text="경관비교"><span class="collapse-icon">icon</span></p>
            <div style="display: block;
                padding: 10px;
                border: 1px solid #e0e0e0;
                background-color: #fff;">
                <div id="landscapeDiffDataDiv">
                </div>
                <div id="landscapeDiffDetDataDiv">
                </div>
            </div>
        </li>
    </ul>
</div>


<style>
    #skylineModal > h2 {color:#333;}
    .ds-image {display: none;}
    .ds-image.on {display: block;}
    .ds-image-skyline {display: none;}
    .ds-image-skyline.on {display: block;}
    .ds-image-thumb {margin-bottom: 5px; cursor: pointer;}
    .ds-image-skyline-thumb {margin-bottom: 5px; cursor: pointer;}
</style>

<script type="text/javascript" th:src="@{/js/ko/time-series.js}" defer></script>


<!-- skylineModal -->
<div class="dialog" role="dialog" id="skylineModal" style="display:none;">
    <div style="float:left; width:85%">
        <div>
            <img class="ds-image" data-index="0"/>
        </div>
        <div>
            <img class="ds-image" data-index="1"/>
        </div>
        <div>
            <img class="ds-image" data-index="2"/>
        </div>
        <div>
            <img class="ds-image-skyline" data-index="0" />
        </div>
        <div>
            <img class="ds-image-skyline" data-index="1" />
        </div>
        <div>
            <img class="ds-image-skyline" data-index="2" />
        </div>
    </div>

    <div style="float:right; width:10%">
        <div>
            <h2>원본</h2>
            <img class="ds-image-thumb" alt="원경 썸네일" title="원경" width="64" height="64" data-index="0">
            <img class="ds-image-thumb" alt="중경 썸네일" title="중경" width="64" height="64" data-index="1">
            <img class="ds-image-thumb" alt="근경 썸네일" title="근경" width="64" height="64" data-index="2">
        </div>
        <div>
            <h2 style="margin-top:10px;">스카이라인</h2>
            <img th:src="@{/images/ko/no_page.png}" class="ds-image-skyline-thumb" alt="원경 스카이라인 썸네일" title="원경 스카이라인" width="64" height="64" data-index="0">
            <img th:src="@{/images/ko/no_page.png}" class="ds-image-skyline-thumb" alt="중경 스카이라인 썸네일" title="중경 스카이라인" width="64" height="64" data-index="1">
            <img th:src="@{/images/ko/no_page.png}" class="ds-image-skyline-thumb" alt="근경 스카이라인 썸네일" title="근경 스카이라인" width="64" height="64" data-index="2">
        </div>
    </div>

    <div>
        <button type="button" class="ds-save">저장</button>
    </div>

</div>
<!-- //skylineModal -->

</html>

