<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="landscapeContent" class="contents yScroll fullHeight" style="display:none;">
    <ul class="listDrop">
        <li class="on">
            <p th:text="가시권분석"><span class="collapse-icon">icon</span></p>
            <div id="visibilityProcess" class="listContents">
                <ul>
                    <li>
                        <label for="visibilityToggle" th:text="활성화"></label>
                        <input type="checkbox" id="visibilityToggle" value="" placeholder=""/>
                        <button type="button" id="visibilityBtn" th:text="작동"></button>
                    </li>
                </ul>
            </div>
        </li>
        <li class="on">
            <p th:text="경관분석"><span class="collapse-icon">icon</span></p>
            <div id="landScapeAnalsProcess" class="listContents">
                <ul>
                    <li>
                        <label for="landScapeAnalsToggle" th:text="활성화"></label>
                        <input type="checkbox" id="landScapeAnalsToggle" value="" placeholder=""/>
                        <button type="button" id="landScapeAnalsBtn" th:text="작동"></button>
                    </li>
                </ul>
            </div>
        </li>
        <li class="on">
            <p th:text="경관비교"><span class="collapse-icon">icon</span></p>
            <div style="display: block;
                padding: 10px;
                border: 1px solid #e0e0e0;
                background-color: #fff;">
                <div id="landscapeDiffDataDiv">
                </div>
                <div id="landscapeDiffDetDataDiv">
                </div>
            </div>
        </li>
    </ul>
</div>
</html>

