<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="extrusionContent" class="contents yScroll fullHeight" style="display:none;">
	<div class="contents contents-margin-none fullHeight" style="display:block;">
		<div class="form-group form-group-data">
			<label for="oneDepthUrbanGroup">신도시</label>
			<select id="oneDepthUrbanGroup" name="oneDepthUrbanGroup">
	<th:block th:each="oneDepthUrbanGroup : ${oneDepthUrbanGroupList}">
				<option th:value="${oneDepthUrbanGroup.urbanGroupId}">
					<th:block th:text="${oneDepthUrbanGroup.urbanGroupName}"></th:block>
				</option>
	</th:block>
			</select>
		</div>
		<div class="form-group form-group-data">
			<label for="urbanName">지역</label>
			<select id="urbanName" name="urbanName">
			</select>
		</div>
		<div id="extrusionModel" style="border: 1px solid #ccc;border-top: none;">
			<h3 style="display: inline-block;margin: 5px 5px 10px 5px;padding: 5px;border-bottom: 1px solid #ccc;">지구계획 데이터</h3>
			<button id="extrusionModelToolToggle" type="button" style="display: inline-block;margin: 5px 5px 10px 5px;padding: 5px;">도구모음</button>
			<div style="margin: 5px;padding: 5px;border-bottom: 1px solid #ccc;">
				<h4>영역</h4>
				<ul id="extrusionAreaList">
				</ul>
			</div>
			<div style="margin: 5px;padding: 5px;border-bottom: 1px solid #ccc;">
				<h4>건물</h4>
				<ul id="extrusionBuildingList">
				</ul>
			</div>
			<div style="margin: 5px;padding: 5px;border-bottom: 1px solid #ccc;">
				<h4>라인</h4>
				<ul id="extrusionLineList">
				</ul>
			</div>
		</div>
		<div id="dataLibrary" style="border: 1px solid #ccc;margin-top: 20px;">
			<h3 style="margin: 5px 5px 10px 5px;padding: 5px;border-bottom: 1px solid #ccc;">데이터 라이브러리</h3>
			<div style="margin: 5px;padding: 5px;border-bottom: 1px solid #ccc;">
				<ul id="dataLibraryList">
				</ul>
			</div>
		</div>
	</div>
</div>
</html>
