<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>경관 정보 수정</title>
</head>
<body class="ui gird" th:with="isPost=${landScapeInfo} == null ? true : false">
<!-- Local Div start -->
<div style="padding: 50px 0">
    <form th:method="${isPost} ? 'POST' : 'PUT'" th:action="@{/landscape-anals/edit}" class="ui form">
        <div>
            <label>경관명</label>
            <input type="text" name="landScapeAnalsName"
                   th:value="${isPost} ? '' : ${landScapeInfo.landScapeAnalsName}"
                   placeholder="경관명을 입력해주세요." required>
            <label>경관 타입</label>
            <input type="text" name="landScapeAnalsType"
                   th:value="${isPost} ? '' : ${landScapeInfo.landScapeAnalsType}"
                   placeholder="경관명을 입력해주세요." required>
            <input type="text" name="id"
                   th:value="${isPost} ? '' : ${landScapeInfo.id}"
                   hidden>
        </div>
        <div>
            지도 표출
        </div>
        <div>
            <button type="submit">
                <i class="icon edit"></i>
                등록
            </button>
            <button id="back">취소</button>
        </div>
    </form>
</div>

</body>
</html>