<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
    <div id="baseMapToggle" style="position: absolute;right: 50px;z-index: 1000;margin: 10px;">
        <div id="baseMapType-base" data-type="base" style="width:64px;height:58px;display: inline-block;">
        	항공사진
        </div>
        <div id="baseMapType-normal" data-type="normal" style="width:64px;height:58px;display: inline-block;">
        	일반지도
        </div>
        <div id="baseMapType-cadstral" data-type="cadstral" style="width:64px;height:58px;display: inline-block;">
        	지적편집도
        </div>
    </div>
</html>