<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<body>
	<div id="gnbWrap" class="gnbWrap">
		<!-- S: 통합검색 -->
		<div class="totalSearch">
			<span class="searchIcon"></span>
			<label for="fullTextSearch" class="hiddenTag"><th:block th:text="#{search.intergrated}"></th:block></label>
			<input type="text" id="fullTextSearch" name="fullTextSearch" th:placeholder="#{search.input.placeholder}" />
			<!-- S: 지역선택 -->
			<div id="districtSelect" class="district"><th:block th:text="#{search.district.select}"></th:block></div>
			<button type="button" id="fullTextSearchButton" th:title="#{common.search}" class="btnTotalSearch"><th:block th:text="#{common.search}"></th:block></button>
		</div>

		<!-- E: 행정구역 레이어 -->
		<div class="districtWrap" style="display:none;">
			<p id="districtSelectNavDHTML" class="districtNav">
				<span id="sdoName" class="on"><th:block th:text="#{search.administrative.sdo}"></th:block></span> 	&rsaquo;
				<span id="sggName"><th:block th:text="#{search.administrative.sgg}"></th:block></span>	&rsaquo;
				<span id="emdName"><th:block th:text="#{search.administrative.emd}"></th:block></span>
			</p>
			<div class="districtLayer">
				<ul id="districtSelectSdoDHTML" class="twoColumn">
					<li class="on"><th:block th:text="#{common.all}"></th:block></li>
				</ul>
				<ul id="districtSelectSggDHTML">
					<li class="on"><th:block th:text="#{common.all}"></th:block></li>
				</ul>
				<ul id="districtSelectEmdDHTML">
					<li class="on"><th:block th:text="#{common.all}"></th:block></li>
				</ul>
			</div>
			<div class="districtBtn">
				<button type="button" class="focus" id="districtFlyButton"><th:block th:text="#{search.district.move}"></th:block></button>
				<button type="button" class="basic" id="districtCancelButton"><th:block th:text="#{search.remove.district}"></th:block></button>
				<button type="button" class="basic" id="districtCloseButton"><th:block th:text="#{common.close}"></th:block></button>
			</div>

			<div th:replace="~{/search/select-nav-template :: #districtSelectNavSource}"></div>
			<div th:replace="~{/search/select-sdo-template :: #districtSelectSdoSource}"></div>
			<div th:replace="~{/search/select-sgg-template :: #districtSelectSggSource}"></div>
			<div th:replace="~{/search/select-emd-template :: #districtSelectEmdSource}"></div>

		</div>
		<!-- E: 행정구역 레이어 -->

		<!-- E: 행정구역 검색결과 -->
		<div th:replace="~{/search/district :: #searchContent}"></div>
		<!-- E: 행정구역 검색결과 -->

	</div>
</body>
</html>