<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<body>
    <header id="headerWrap">
        <div class="HamMenu on"><a href="#">메뉴</a></div>
        <h1>
        	LHDT Digital Twin Platform        	
        </h1>
        <span class="select-urban-group-container"></span>
       	<div class="hea_boxr">
	       
	        <!-- 1027 초기 display:none -->
			<div id="baseMapToggle" class="toggle" style="display:none;">
				<div id="baseMapType-base" data-type="base" style="width: 60px; height: 40px; display: inline-block; border-radius: 5px; border: 2px solid #C6C6C6;">
					<img th:src="@{/images/{lang}/ic_map_sat.png(lang=${lang},cacheVersion=${contentCacheVersion})}" style="border-radius: 5px;">
				</div>
				<div id="baseMapType-normal" data-type="normal" style="width: 60px; height: 40px; display: inline-block; border-radius: 5px; border: 2px solid #C6C6C6">
					<img th:src="@{/images/{lang}/ic_map_line.png(lang=${lang},cacheVersion=${contentCacheVersion})}" style="border-radius: 5px;">
				</div>
				<div id="baseMapType-cadstral" data-type="cadstral" style="width: 60px; height: 40px; display: inline-block; border-radius: 5px; border: 2px solid #C6C6C6">
					<img th:src="@{/images/{lang}/ic_map_land.png(lang=${lang},cacheVersion=${contentCacheVersion})}" style="border-radius: 5px;">
				</div>
			</div>
				<div class="search_box" >
		       	<a href="#" onclick="$('div.search').toggle();$('.keyword').focus();">
		       		<p>통합겁색입니다.</p>
		       		<span>돋보기</span>
		       	</a>
		  	</div>
	       	<div class="search " style="display:none;">
	       		<div class="search_in">
			       	<input type="text" class="keyword" placeholder="검색어를 입력하세요"  name="search">
			       	<button type="button" name="click" class="search_button">클릭</button>
	       		</div>
	       	</div>
		</div>
		<script>
			window.addEventListener('load',	function() {
				//햄버거 메뉴 클릭
				$('.HamMenu').click(function(){
					if('undefined' != typeof(introObj)){
						introObj.hide();						
					}
					
						
					if($(this).hasClass('on')){
						$('.navWrap,.gnbWrap').hide();
						$('#magoContainer').css('width', '100%');
					}else{
						$('.navWrap,.gnbWrap').show();
						$('#magoContainer').css('width', 'calc(100% - 430px)');		
						
						//선택된 메뉴 없으면 show 레이어 메뉴
						let b = $('#navWrap .nav li').hasClass('on');
						if(!b){
							$('#navWrap .nav li:first').click();
						}
						
						
					}
					
					$(this).toggleClass('on');
					
				});
				
			});
		</script>


		<script>		
		window.addEventListener('load', function(){
			//도시 그룹
            let interval = setInterval(function(){
                if('undefined' != typeof(selectUrbanGroupObj) && 'undefined' != typeof(Pp)) {
                    clearInterval(interval);
                    //
					selectUrbanGroupObj.init();			
                }
            }, 500);
		});
		</script>
		
		<!-- 도시 그룹 -->
		<script type="text/javascript" th:src="@{/js/ko/select-urban-group.js}"></script>
		
		<!-- 도시 그룹 select handlebar template -->
		<script id="select-urban-group-template" type="text/x-handlebars-template">
			<select class="urban-group" style="padding:5px; position: absolute; left: 220px; margin-top:10px; ">
				<option value="">3기 신도시를 선택해주세요</option>
				{{#each datas}}
					{{#each children}}
						<option value="{{urbanGroupId}}" data-lon="{{longitude}}" data-lat="{{latitude}}">{{urbanGroupName}}</option>
					{{/each}}
				{{/each}}
			</select>  
		</script>
    </header>
</body>
</html>