<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<body>
    <header id="headerWrap">
    	<div class="HamMenu on"><a href="#">메뉴</a></div>
        <h1>LHDT Digital Twin Platform</h1>
        <div class="gnb">
            <th:block th:if="${session.USER_SESSION}">
                <ul>
                    <li class="user"><span th:text="${session.USER_SESSION.userName}"><th:block th:text="#{common.sir}"></th:block></span>
                        <a class="api" href="/guide/help" th:title="#{common.api.document}" onclick="goMagoAPIGuide(this.href);return false;"><th:block th:text="#{common.api.document}"></th:block></a>
                        <a class="signout" href="/sign/signout" title="Sign out">Sign out</a>
                    </li>
                </ul>
            </th:block>
            <th:block th:unless="${session.USER_SESSION}">
                <ul>
                    <li>
                        <a href="/guide/help" th:title="#{common.api.document}" onclick="goMagoAPIGuide(this.href);return false;"><th:block th:text="#{common.api.document}"></th:block></a>
                    </li>
                    <li class="user"><a href="/sign/signin">Sign in</a></li>
                </ul>
            </th:block>
        </div>

		<script>
		window.addEventListener('load', function(){
			Ppui.click('.HamMenu', function(){
				if(Ppui.hasClass(this, 'on')){
					Ppui.hide(['.navWrap', '#gnbWrap']);		
					document.querySelector('#magoContainer').style.width = '100%';
				}else{
					Ppui.show(['.navWrap', '#gnbWrap']);					
					document.querySelector('#magoContainer').style.width = 'calc(100% - 445px)';
				}
				
				//
				Ppui.toggleClass(this, 'on');
			});
		});
		</script>
    </header>
</body>
</html>