<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
    <div id="mapSettingWrap" class="sideNav">
        <ul class="tabSetup">
            <li class="bbox"><span>BBOX</span></li>
            <li class="label"><span>LABEL</span></li>
            <li class="origin"><span>ORIGIN</span></li>
            <li class="shadow"><span>SHADOW</span></li>
        </ul>
        <div class="userPolicyContent">
            <div class="button-group-align marB10">
                <h3 class="h3-heading">LOD (Level Of Detail)</h3>
                <button type="button" id="changeLodButton" class="btnTextF right-align" th:text="#{common.apply}"></button>
            </div>
            <div class="userPolicyContentDetail">
                <div class="form-group form-group-policy">
                    <label for="geoLod0">LOD0</label>
                    <input type="text" id="geoLod0" name="lod0" value="15" size="15" />M
                </div>
                <div class="form-group form-group-policy">
                    <label for="geoLod1">LOD1</label>
                    <input type="text" id="geoLod1" name="lod1" value="60" size="15" />M
                </div>
                <div class="form-group form-group-policy">
                    <label for="geoLod2">LOD2</label>
                    <input type="text" id="geoLod2" name="lod2" value="90" size="15" />M
                </div>
                <div class="form-group form-group-policy">
                    <label for="geoLod3">LOD3</label>
                    <input type="text" id="geoLod3" name="lod3" value="200" size="15" />M
                </div>
                <div class="form-group form-group-policy">
                    <label for="geoLod4">LOD4</label>
                    <input type="text" id="geoLod4" name="lod4" value="1000" size="15" />M
                </div>
                <div class="form-group form-group-policy">
                    <label for="geoLod5">LOD5</label>
                    <input type="text" id="geoLod5" name="lod5" value="50000" size="15" />M
                </div>
            </div>
        </div>
        <div class="userPolicyContent">
            <div class="button-group-align marB10">
                <h3 class="h3-heading">SSAO</h3>
                <button type="button" id="changeSsaoButton" class="btnTextF right-align" th:text="#{common.apply}"></button>
            </div>
            <div class="userPolicyContentDetail">
                <div class="form-group form-group-policy">
                    <label for="ssaoRadius" th:text="#{policy.init.ssao}"></label>
                    <input type="text" id="ssaoRadius" name="ssaoRadius" value="0.15" size="15" />M
                </div>
            </div>
        </div>
    </div>
</html>