<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
    	<typeAlias type="lhdt.domain.accesslog.AccessLog" alias="accessLog" />
    	<typeAlias type="lhdt.domain.converter.ConverterJob" alias="converterJob" />
    	<typeAlias type="lhdt.domain.converter.ConverterJobFile" alias="converterJobFile" />
		<typeAlias type="lhdt.domain.data.DataAdjustLog" alias="dataAdjustLog" />
		<typeAlias type="lhdt.domain.data.DataAttribute" alias="dataAttribute" />
		<typeAlias type="lhdt.domain.extrusionmodel.DataLibraryConverterJob" alias="dataLibraryConverterJob" />
		<typeAlias type="lhdt.domain.extrusionmodel.DataLibraryConverterJobFile" alias="dataLibraryConverterJobFile" />
		<typeAlias type="lhdt.domain.extrusionmodel.DataLibraryGroup" alias="dataLibraryGroup" />
		<typeAlias type="lhdt.domain.extrusionmodel.DataLibrary" alias="dataLibrary" />
		<typeAlias type="lhdt.domain.extrusionmodel.DataLibraryUpload" alias="dataLibraryUpload" />
		<typeAlias type="lhdt.domain.extrusionmodel.DataLibraryUploadFile" alias="dataLibraryUploadFile" />
		<typeAlias type="lhdt.domain.data.DataFileInfo" alias="dataFileInfo" />
		<typeAlias type="lhdt.domain.data.DataFileParseLog" alias="dataFileParseLog" />
		<typeAlias type="lhdt.domain.data.DataSmartTilingFileInfo" alias="dataSmartTilingFileInfo" />
		<typeAlias type="lhdt.domain.data.DataSmartTilingFileParseLog" alias="dataSmartTilingFileParseLog" />
		<typeAlias type="lhdt.domain.data.DataAttributeFileInfo" alias="dataAttributeFileInfo" />
		<typeAlias type="lhdt.domain.data.DataObjectAttribute" alias="dataObjectAttribute" />
		<typeAlias type="lhdt.domain.data.DataObjectAttributeFileInfo" alias="dataObjectAttributeFileInfo" />
		<typeAlias type="lhdt.domain.data.DataGroup" alias="dataGroup" />
		<typeAlias type="lhdt.domain.data.DataInfo" alias="dataInfo" />
		<typeAlias type="lhdt.domain.data.DataInfoSimple" alias="dataInfoSimple" />
		<typeAlias type="lhdt.domain.data.DataInfoLog" alias="dataInfoLog" />
		<typeAlias type="lhdt.domain.extrusionmodel.DesignLayerGroup" alias="designLayerGroup" />
		<typeAlias type="lhdt.domain.extrusionmodel.DesignLayer" alias="designLayer" />
		<typeAlias type="lhdt.domain.extrusionmodel.DesignLayerLand" alias="designLayerLand" />
		<typeAlias type="lhdt.domain.extrusionmodel.DesignLayerBuilding" alias="designLayerBuilding" />
		<typeAlias type="lhdt.domain.extrusionmodel.DesignLayerBuildingHeight" alias="designLayerBuildingHeight" />
		<typeAlias type="lhdt.domain.extrusionmodel.DesignLayerBuildingUnit" alias="designLayerBuilding" />
		<typeAlias type="lhdt.domain.extrusionmodel.DesignLayerAttribute" alias="designLayerBuildingUnit" />
		<typeAlias type="lhdt.domain.extrusionmodel.DesignLayerFileInfo" alias="designLayerFileInfo" />
		<typeAlias type="lhdt.domain.extrusionmodel.DesignLayerLog" alias="designLayerLog" />
		<typeAlias type="lhdt.domain.policy.GeoPolicy" alias="geoPolicy" />
		<typeAlias type="lhdt.domain.issue.Issue" alias="issue" />
    	<typeAlias type="lhdt.domain.layer.Layer" alias="layer" />
    	<typeAlias type="lhdt.domain.layer.LayerGroup" alias="layerGroup" />
    	<typeAlias type="lhdt.domain.layer.LayerFileInfo" alias="layerFileInfo" />
    	<typeAlias type="lhdt.domain.menu.Menu" alias="menu" />
		<typeAlias type="lhdt.domain.urban.UrbanGroup" alias="urbanGroup" />
		<typeAlias type="lhdt.domain.policy.Policy" alias="policy" />
    	<typeAlias type="lhdt.domain.role.Role" alias="role" />
		<typeAlias type="lhdt.domain.uploaddata.UploadData" alias="uploadData" />
		<typeAlias type="lhdt.domain.uploaddata.UploadDataFile" alias="uploadDataFile" />
    	<typeAlias type="lhdt.domain.user.UserInfo" alias="userInfo" />
    	<typeAlias type="lhdt.domain.user.UserGroup" alias="userGroup" />
    	<typeAlias type="lhdt.domain.user.UserGroupMenu" alias="userGroupMenu" />
    	<typeAlias type="lhdt.domain.user.UserGroupRole" alias="userGroupRole" />
    	<typeAlias type="lhdt.domain.user.UserPolicy" alias="userPolicy"/>
    	<typeAlias type="lhdt.domain.user.UserSession" alias="userSession" />
    	<typeAlias type="lhdt.domain.widget.Widget" alias="widget" />
    </typeAliases>

	<typeHandlers>
		<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="java.math.RoundingMode"/>
		<!--<typeHandler handler="org.apache.ibatis.type.LocalDateTimeTypeHandler" javaType="java.time.LocalDateTime"/>-->
		<typeHandler handler="lhdt.typehandler.LocalDateTimeTypeHandler" javaType="java.time.LocalDateTime" />
	</typeHandlers>

</configuration>
