<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>경관 목록</title>
</head>
<body>
<!-- Local Div start -->
<div style="padding: 50px 0">
    <h3>경관 목록 확인</h3>
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>경관 명</th>
            <th>등록일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="landScapeGroup : ${lsGroupPage}">
            <td th:text="${landScapeGroup.id}"></td>
            <td><a th:href="@{'/ls-diff-group/'+${landScapeGroup.id}}" th:text="${landScapeGroup.lsDiffGrupName}"></a></td>
            <td th:text="${landScapeGroup.registDt}"></td>
            <td>
                <a th:href="@{'/ls-diff-group/' + ${landScapeGroup.id}}" class="right floated ui button">확인</a>
            </td>
            <td>
                <a th:href="@{'/ls-diff-group/edit/' + ${landScapeGroup.id}}" class="right floated ui button">수정</a>
            </td>
            <td>
                <form style="display: inline" th:method="DELETE"
                      th:action="@{'/ls-diff-group/' + ${landScapeGroup.id}}"
                      onsubmit="return confirm('정말 삭제하시겠습니까?');">
                    <button type="submit" class="right floated ui red button">삭제</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="">
        <th:block th:if="${lsGroupPageInfo.previousPaging != null}">
            <div>
                <a th:href="@{/landscape-anals(landScapePage=1)}">첫페이지</a>
            </div>
            <div>
                <a th:href="@{/landscape-anals(landScapePage=${lsGroupPageInfo.previousPaging} + 1)}"><i class="angle double left icon"></i></a>
            </div>
        </th:block>

        <th:block th:each="i: ${#numbers.sequence(lsGroupPageInfo.startPageNum, lsGroupPageInfo.lastPageNum)}">
            <div th:if="${lsGroupPage.number == i}">[[${i}+1]]</div>
            <div th:unless="${lsGroupPage.number == i}">
                <a th:href="@{/landscape-anals(landScapePage=${i}+1)}">[[${i}+1]]</a>
            </div>
        </th:block>
        <th:block th:if="${lsGroupPageInfo.nextPaging != null}">
            <div>
                <a th:href="@{/landscape-anals(landScapePage=${lsGroupPageInfo.nextPaging} + 1)}"></a>
            </div>
            <div>
                <a th:href="@{/local-info(localPage=${lsGroupPage.totalPages})}">끝페이지</a>
            </div>
        </th:block>
    </div>
</div>

</body>
</html>