<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="introContainer">
		<!-- 여기에 내용 추가 -->
		<div class="title">
			<div class="title_box">
				<p>미리 사는 미래<br>
					디지털 트윈</p>
			</div>
		</div>
		<div class="new_town">
			<div class="ntn_box wangsuk">
				<a href="#">
					<h3>남양주 왕숙</h3>
					<p>남양주왕숙 신도시는 GTX-B를 <br>중심으로한 경제도시</p>
					<span>more</span>
				</a>
			</div>
			
			<div class="ntn_box hanam">
				<a href="#">
					<h3>하남 교산</h3>
					<p>하남 교산 신도시는 덕풍천을 <br>중심으로 한 친환경 주거 단지</p>
					<span>more</span>
				</a>
			</div>
			
			<div class="ntn_box inchon">
				<a href="#">
					<h3>인천 계양</h3>
					<p>인천계양 신도시는 정보통신·컨텐츠 <br>산업 중심의 도시첨단산업단지</p>
					<span>more</span>
				</a>
			</div>
			
			<div class="ntn_box goyang">
				<a href="#">
					<h3>고양 창릉</h3>
					<p>고양창릉 신도시는 교통이 편리한<br>수도권 서북부 일자리 거점도시</p>
					<span>more</span>
				</a>
			</div>
			
			<div class="ntn_box buchun">
				<a href="#">
					<h3>부천 대장</h3>
					<p>부천대장 신도시는<br>지능형 로봇, 항공·드론 등 신산업</p>
					<span>more</span>
				</a>
			</div>
			
			<div class="ntn_box gachun">
				<a href="#">
					<h3>과천 과천</h3>
					<p>과천과천 지구는 사람과 주택<br>모든 요소가 어우러진 소통의 공유도시</p>
					<span>more</span>
				</a>
			</div>
			
			<div class="ntn_box ansan">
				<a href="#">
					<h3>안산 장상</h3>
					<p>안산 장상 지구는 신안산선 중심<br>역사테마거리 등 문화예술도시로 조성</p>
					<span>more</span>
				</a>
			</div>
			
			<div class="ntn_box sejong">
				<a href="">
					<h3>세종</h3>
					<p>세종 지구는 교통이 편리하며,<br>초록지구로 어우러져 조성</p>
					<span>more</span>
				</a>
			</div>
		</div>
	</div>
</body>
</html>