<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="modelerContent" class="modelerContent listContents">
	<div class="ds-modeler">
		<h3 class="h3-heading">모델러 목록</h3>

		<div class="list">
			<div class="ds-modeler-list dataGroupSummary table-data-group-summary">
				<table class="table-word-break" summary="모델러 목록">
					<caption class="hiddenTag">모델러 목록</caption>
					<colgroup>
						<col class="col-number" width="10%">
						<col class="col-number" width="20%">
						<col class="col-number" width="*">
						<col class="col-number" width="*">
					</colgroup>
					<tbody>
						<tr>
							<th scope="col" class="col-number">선택</th>
							<th scope="col" class="col-number">번호</th>
							<th scope="col" class="col-number">모델러명</th>
							<th scope="col" class="col-number">그룹</th>
						</tr>
						<tr>
							<td class="col-number"><input type="radio" name="modelerNo" value="1"></td>
							<td class="col-number">1</td>
							<td class="col-number">모델러1</td>
							<td class="col-number">0</td>
						</tr>
					</tbody>
				</table>
			</div>


			<ul class="pagination">
				<li class="ico first" >처음</li>
				<li class="on">1</li>
 				<li class="ico end" >마지막</li>
			</ul>
		</div>
	</div>

	<div class="ds-tool">
		<h3 class="h3-heading">도구</h3>
		<div class="">
			<button class="textBtnSub ds-tool-select">선택</button>
			<button class="textBtnSub ds-tool-create-by-point">점으로생성</button>
			<button class="textBtnSub ds-tool-create-by-line">선으로생성</button>
			<button class="textBtnSub ds-tool-delete">삭제</button>
		</div>
	</div>

	<div class="ds-category">
		<h3 class="h3-heading marT10">카테고리</h3>
		<div class="form-group form-group-data">
			<label for="before-category">변경전</label> <select id="before-category" name="searchDataGroup">
				<option value="">선택</option>
			</select>
		</div>
		<div class="form-group form-group-data">
			<label for="after-category">변경후</label> <select id="after-category" name="searchDataGroup">
				<option value="">선택</option>
			</select>
		</div>

		<div class="form-group button-group-center">
			<button type="button" class="btnTextF ds-change-category" title="검색">변경</button>
		</div>

	</div>
<script>
let ModelerObj = function(){
	console.log(new Date(), this);
}


/**
 * 초기
 */
ModelerObj.prototype.init = function(){
	
	//
	this.setEventHandler();
	
	//TEST
	let source = $('#modeler-list-template').html();
	let template = Handlebars.compile(source);
	let data = {'datas':[
		{'modelerNo':'1', 'modelerName':'모델러1'},
		{'modelerNo':'2', 'modelerName':'모델러2'},
		{'modelerNo':'3', 'modelerName':'모델러3'}
		]
	};
	let html = template(data);
	document.querySelector('.ds-modeler-list').innerHTML = html;
	
	console.log(new Date(), '<<ModelerObj.init()');
};

/**
 * 이벤트 핸들러
 */
ModelerObj.prototype.setEventHandler = function(){
	
	//TODO 도구 - 선택 클릭
	Ppui.on(document.querySelector('.ds-tool-select'), 'click', function(){
		changeObjectMoveAPI(MAGO3D_INSTANCE, '0');
		

    	//지도에서 데이터 클릭
    	MAGO3D_INSTANCE.getMagoManager().on(Mago3D.MagoManager.EVENT_TYPE.SELECTEDF4D, function(result) {
    		var f4d = result.f4d;
    		//console.log(f4d);
    		
    		//
    		if(!f4d){
    			return;
    		}
    		
    		//
    		var data = f4d.data;
			dataId = data.dataId;
			dataKey = data.nodeId;
			projectId = data.projectId;
			
			//console.log(data, dataId, dataKey, projectId);
			
			var currentGeoLocData = f4d.getCurrentGeoLocationData();

			var currentGeoCoord = currentGeoLocData.geographicCoord;
			
			//경/위/높
			document.querySelector('.ds-lon').value = currentGeoCoord.longitude;
			document.querySelector('.ds-lat').value = currentGeoCoord.latitude;
			document.querySelector('.ds-alt').value = currentGeoCoord.altitude;
			
			//heading/pitch/roll
			document.querySelector('.ds-heading').value = currentGeoLocData.heading;
			document.querySelector('.ds-pitch').value = currentGeoLocData.pitch;
			document.querySelector('.ds-roll').value = currentGeoLocData.roll;
			
			//TODO 기타 추가정보

    	});
	});
	
	
	//TODO 도구 - 점 클릭
	Ppui.on(document.querySelector('.ds-tool-create-by-point'), 'click', function(){
		Ppui.replaceClass('[class*=ds-tool]', 'textBtn', 'textBtnSub')
			.replaceClass(this, 'textBtnSub', 'textBtn');
		
	});
	
	
	//TODO 도구 - 선 클릭
	Ppui.on(document.querySelector('.ds-tool-create-by-line'), 'click', function(){
		Ppui.replaceClass('[class*=ds-tool]', 'textBtn', 'textBtnSub')
			.replaceClass(this, 'textBtnSub', 'textBtn');
		
	});
	
	//TODO 도구 - 지우기 클릭
	Ppui.on(document.querySelector('.ds-tool-delete'), 'click', function(){
		Ppui.replaceClass('[class*=ds-tool]', 'textBtn', 'textBtnSub')
			.replaceClass(this, 'textBtnSub', 'textBtn');
	});
	
	//TODO 데이터 라이브러리 > 검색 버튼 클릭
	Ppui.on(document.querySelector('.ds-search-data-library'), 'click', function(){
		
	});
	
	//TODO 카테고리 > 변경버튼 클릭
	Ppui.on(document.querySelector('.ds-change-category'), 'click', function(){
		
	});
	
	
	//TODO my모델러 > 검색 버튼 클릭
	Ppui.on(document.querySelector('.ds-modeler-search'), 'click', function(){
		
	});
	


	//TODO my모델러 > 신규 버튼 클릭
	Ppui.on(document.querySelector('.ds-modeler-new'), 'click', function(){
		
	});
	
	
	//TODO my모델러 > 읽어오기 버튼 클릭
	Ppui.on(document.querySelector('.ds-modeler-load'), 'click', function(){
		
	});
	
	
	//TODO my모델러 > 삭제 버튼 클릭
	Ppui.on(document.querySelector('.ds-modeler-delete'), 'click', function(){
		
	});
	
	
	//TODO my모델러 > 저장 버튼 클릭
	Ppui.on(document.querySelector('.ds-modeler-save'), 'click', function(){
		
	});


	
	
	
	//데이터 라이브러리 > 페이징
	dsObj.pagination(100, 1, $('.ds-data-library div.pagination'), function(pageNo){
		mobj.searchDataLibrary(pageNo);
	});
	
	
	//my모델러 > 페이징
	dsObj.pagination(100, 1, $('.ds-modeler div.pagination'), function(pageNo){
		mobj.searchModeler(pageNo);
	});
	
};

//TODO 데이터 라이브러리 > 그룹 목록 로드
ModelerObj.prototype.getGroups = function(){
	Pp.submitAjax('./data-library/groups', {}, function(res){
		console.log(res);
	}, {'method':'get'});
};


//TODO 데이터 라이브러리 > 카테고리그룹 목록 로드
ModelerObj.prototype.getCategoryGroups = function(){
	Pp.submitAjax('./data-library/category-groups', {}, function(res){
		console.log(res);
	}, {'method':'get'});
	
};

//TODO 데이터 라이브러리 > 목록 검색
ModelerObj.prototype.searchDataLibrary = function(pageNo){
	let param = {};
	param.pageNo = 1;
	param.groupNo = document.querySelector('.groupNo').value;
	param.categoryGroupNo = document.querySelector('.categoryGroupNo').value;
	
	//
	Pp.submitAjax('./data-library/datas', param, function(res){
		console.log(res);
	}, {'method':'get'});
	
};

//TODO 데이터 라이브러리 > 목록 > 라디오버튼 클릭



//TODO 카테고리 > 변경전 선택박스 로드
//TODO 카테고리 > 변경후 선택박스 로드


//TODO 속성 > 속정정보 표시



//TODO my모델러 > 검색어 입력
//TODO my모델러 > 목록 표시
//TODO my모델러 > 목록 > 라디오 버튼 클릭






//
let mobj = new ModelerObj();

//
window.addEventListener('load', function(){
	mobj.init();	
});
</script>

<script id="modeler-list-template" type="text/x-handlebars-template">
<table class="table-word-break" summary="모델러 목록">
	<caption class="hiddenTag">모델러 목록</caption>
	<colgroup>
		<col class="col-number" width="10%">
		<col class="col-number" width="*">
		<col class="col-number" width="*">
	</colgroup>
	<thead>
		<tr>
			<th scope="col" class="col-number">선택</th>
			<th scope="col" class="col-number">모델러명</th>
			<th scope="col" class="col-number">그룹</th>
		</tr>
	</thead>
	<tbody>
		{{#datas}}
		<tr>
			<td class="col-number"><input type="radio" name="modelerNo" value="{{modelerNo}}"></td>
			<td class="col-number">{{modelerName}}</td>
			<td class="col-number">TODO</td>
		</tr>
		{{/datas}}
	</tbody>
</table>
</script>
</div>
