<html xmlns:th="http://www.thymeleaf.org" th:lang="${accessibility}">
<div id="modelerContent" class="contents contents-margin-none fullHeight" style="display:none;">
<ul class="listDrop">
    


	<li class=" ds-data-library on">
		<p>데이터 라이브러리</p>
		<div id="solarAnalysis" class="listContents">
			<ul class="">
				<li>
					<div class="form-group form-group-data">
						<label>그룹</label>
	                    <select>
	                        <option>그룹</option>
	                    </select>
						<label>카테고리그룹</label>
	                    <select>
	                        <option>카테고리그룹</option>
	                    </select>
						<button type="button" class="btnTextF ds-search-data-library" >검색</button>
					</div>
				</li>
				<li>
					<div class="dataGroupSummary table-data-group-summary">
                        <table class="table-word-break" th:summary="#{data.group.statistics.summary}">
                        <caption class="hiddenTag"><th:block th:text="#{data.group.statistics.caption}"></th:block></caption>
                            <colgroup>
                                <col class="col-number" />
                                <col class="col-number" />
                                <col class="col-number" />
                                <col class="col-number" />
                                <col class="col-number" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col" class="col-number" th:text="선택"></th>
                                    <th scope="col" class="col-number" th:text="그룹"></th>
                                    <th scope="col" class="col-number" th:text="카테고리그룹"></th>
                                    <th scope="col" class="col-number" th:text="|카테고리(세부)|"></th>
                                    <th scope="col" class="col-number" th:text="데이터명"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-input" >
                                    	<span>ㅇ</span>
                                    </td>
                                    <td class="col-number" th:text="나무"></td>
                                    <td class="col-number" th:text="계절"></td>
                                    <td class="col-number" th:text="여름"></td>
                                    <td class="col-number" th:text="은행나무-여름"></td>
                                </tr>
                                <tr>
                                    <td class="col-input" >
                                    	<span>ㅇ</span>
                                    </td>
                                    <td class="col-number" th:text="나무"></td>
                                    <td class="col-number" th:text="계절"></td>
                                    <td class="col-number" th:text="겨울"></td>
                                    <td class="col-number" th:text="은행나무-겨울"></td>
                                </tr>
                                <tr>
                                    <td class="col-input" >
                                    	<span>ㅇ</span>
                                    </td>
                                    <td class="col-number" th:text="건물"></td>
                                    <td class="col-number" th:text="크기"></td>
                                    <td class="col-number" th:text="3x3"></td>
                                    <td class="col-number" th:text="단독주택-3x3"></td>
                                </tr>
                                <tr>
                                    <td class="col-input" >
                                    	<span>ㅇ</span>
                                    </td>
                                    <td class="col-number" th:text="건물"></td>
                                    <td class="col-number" th:text="크기"></td>
                                    <td class="col-number" th:text="4x4"></td>
                                    <td class="col-number" th:text="단독주택-4x4"></td>
                                </tr>
                                <tr>
                                    <td class="col-input" >
                                    	<span>ㅇ</span>
                                    </td>
                                    <td class="col-number" th:text="방음벽"></td>
                                    <td class="col-number" th:text="무늬"></td>
                                    <td class="col-number" th:text="새"></td>
                                    <td class="col-number" th:text="|새무늬 방음벽|"></td>
                                </tr>
                                <tr>
                                    <td class="col-input" >
                                    	<span>ㅇ</span>
                                    </td>
                                    <td class="col-number" th:text="방음벽"></td>
                                    <td class="col-number" th:text="무늬"></td>
                                    <td class="col-number" th:text="격자"></td>
                                    <td class="col-number" th:text="|격자무늬 방음벽|"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
				</li>
				<li>
					<div class="pagination"></div>
				</li>
				
			</ul>
		</div>
    </li>
    
    
    <li class=" ds-tool on">
        <p>도구</p>
        <div id="" class="listContents">
            <ul>
                <li>
                    <button class="textBtnSub ds-tool-select">선택</button>
                    <button class="textBtnSub ds-tool-point">점으로생성</button>
                    <button class="textBtnSub ds-tool-line">선으로생성</button>
                    <button class="textBtnSub ds-tool-delete">지우기</button>
                </li>
            </ul>
        </div>
    </li>
    

    <li class="ds-category on">
        <p>카테고리</p>
        <div id="" class="listContents">
            <ul>
                <li>
                    <div class="form-group from-group-data">
                    	<label>변경전</label>
                        <select>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group from-group-data">
                    	<label>변경후</label>
                        <select>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group button-group-center">
						<button type="submit" id="mapDataSearch" class="btnTextF ds-change-category" title="변경">변경</button>
					</div>
                </li>
            </ul>
        </div>
    </li>
    
    <li class="ds-property on">
    	<p>속성</p>
    	<div >
    		<ul>
    			<li>
                  	<div class="form-group button-group-data">
                        <label>데이터 <br/>라이브러리명</label>
                        <input type="text" placeholder="">
                        <label>그룹명</label>
                        <input type="text" placeholder="">
                        <label>카테고리그룹명</label>
                        <input type="text" placeholder="">
                        <label>경도</label>
                        <input type="text" class="ds-lon" placeholder="">
                        <label>위도</label>
                        <input type="text" class="ds-lat" placeholder="">
                        <label>높이</label>
                        <input type="text" class="ds-alt" placeholder="">
                        <label>heading</label>
                        <input type="text" class="ds-heading" placeholder="">
                        <label>pitch</label>
                        <input type="text" class="ds-pitch" placeholder="">
                        <label>roll</label>
                        <input type="text" class="ds-roll" placeholder="">
                    </div>
    			
    			</li>
    		</ul>
    	</div>
    </li>

    <li class="ds-modeler on">
        <p>my모델러</p>
        <div id="" class="listContents">
            <ul class="">
				<li>
                  	<div class="form-group button-group-data">
                        <label>검색어</label>
                        <input type="text" placeholder="my모델러명">
                        <button type="button" class="btnTextF ds-modeler-search">검색</button>
                    </div>
				</li>
				<li>
					<div class="dataGroupSummary table-data-group-summary">
                        <table class="table-word-break" th:summary="#{data.group.statistics.summary}">
                        <caption class="hiddenTag"><th:block th:text="#{data.group.statistics.caption}"></th:block></caption>
                            <colgroup>
                                <col class="col-number" />
                                <col class="col-number" />
                                <col class="col-number" />
                                <col class="col-number" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col" class="col-number" th:text="선택"></th>
                                    <th scope="col" class="col-number" th:text="my모델러명"></th>
                                    <th scope="col" class="col-number" th:text="데이터갯수"></th>
                                    <th scope="col" class="col-number" th:text="생성일"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="col-input" >
                                    	<span>ㅇ</span>
                                    </td>
                                    <td class="col-number" th:text="7공구모델"></td>
                                    <td class="col-number" th:text="5"></td>
                                    <td class="col-number" th:text="2020-01-01"></td>
                                </tr>
                                <tr>
                                    <td class="col-input" >
                                    	<span>ㅇ</span>
                                    </td>
                                    <td class="col-number" th:text="1기신도시"></td>
                                    <td class="col-number" th:text="10"></td>
                                    <td class="col-number" th:text="2020-02-01"></td>
                                </tr>
                                <tr>
                                    <td class="col-input" >
                                    	<span>ㅇ</span>
                                    </td>
                                    <td class="col-number" th:text="2기신도시"></td>
                                    <td class="col-number" th:text="8"></td>
                                    <td class="col-number" th:text="2020-03-30"></td>
                                </tr>
                                <tr>
                                    <td class="col-input" >
                                    	<span>ㅇ</span>
                                    </td>
                                    <td class="col-number" th:text="3기신도시"></td>
                                    <td class="col-number" th:text="9"></td>
                                    <td class="col-number" th:text="2020-04-04"></td>
                                </tr>
                                <tr>
                                    <td class="col-input" >
                                    	<span>ㅇ</span>
                                    </td>
                                    <td class="col-number" th:text="4기신도시"></td>
                                    <td class="col-number" th:text="5"></td>
                                    <td class="col-number" th:text="2020-05-05"></td>
                                </tr>
                                <tr>
                                    <td class="col-input" >
                                    	<span>ㅇ</span>
                                    </td>
                                    <td class="col-number" th:text="5기신도시"></td>
                                    <td class="col-number" th:text="6"></td>
                                    <td class="col-number" th:text="2020-06-06"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
				</li>
				<li>
					<div class="pagination"></div>
				</li>
				<li>
					<div style="text-align:right;">
						<button class="btnTextF ds-modeler-new">신규</button>
	                    <button class="btnTextF ds-modeler-load">읽어오기</button>
	                    <button class="btnTextF ds-modeler-delete">삭제</button>
	                    <button class="btnTextF ds-modeler-save">저장</button>
					</div>
				</li>
			</ul>
        </div>
    </li>
</ul>

<script>
let ModelerObj = function(){
	
}


/**
 * 초기
 */
ModelerObj.prototype.init = function(){
	this.setEventHandler();
};

/**
 * 이벤트 핸들러
 */
ModelerObj.prototype.setEventHandler = function(){
	
	//TODO 도구 - 선택 클릭
	ppui.on(document.querySelector('.ds-tool-select'), 'click', function(){
		changeObjectMoveAPI(MAGO3D_INSTANCE, '0');
		

    	//지도에서 데이터 클릭
    	MAGO3D_INSTANCE.getMagoManager().on(Mago3D.MagoManager.EVENT_TYPE.SELECTEDF4D, function(result) {
    		var f4d = result.f4d;
    		//console.log(f4d);
    		
    		//
    		if(!f4d){
    			return;
    		}
    		
    		//
    		var data = f4d.data;
			dataId = data.dataId;
			dataKey = data.nodeId;
			projectId = data.projectId;
			
			//console.log(data, dataId, dataKey, projectId);
			
			var currentGeoLocData = f4d.getCurrentGeoLocationData();

			var currentGeoCoord = currentGeoLocData.geographicCoord;
			
			//경/위/높
			document.querySelector('.ds-lon').value = currentGeoCoord.longitude;
			document.querySelector('.ds-lat').value = currentGeoCoord.latitude;
			document.querySelector('.ds-alt').value = currentGeoCoord.altitude;
			
			//heading/pitch/roll
			document.querySelector('.ds-heading').value = currentGeoLocData.heading;
			document.querySelector('.ds-pitch').value = currentGeoLocData.pitch;
			document.querySelector('.ds-roll').value = currentGeoLocData.roll;
			
			//TODO 기타 추가정보

    	});
	});
	
	
	//TODO 도구 - 점 클릭
	ppui.on(document.querySelector('.ds-tool-point'), 'click', function(){
		
	});
	
	
	//TODO 도구 - 선 클릭
	ppui.on(document.querySelector('.ds-tool-line'), 'click', function(){
		
	});
	
	//TODO 도구 - 지우기 클릭
	ppui.on(document.querySelector('.ds-tool-delete'), 'click', function(){
		
	});
	
	//TODO 데이터 라이브러리 > 검색 버튼 클릭
	ppui.on(document.querySelector('.ds-search-data-library'), 'click', function(){
		
	});
	
	//TODO 카테고리 > 변경버튼 클릭
	ppui.on(document.querySelector('.ds-change-category'), 'click', function(){
		
	});
	
	
	//TODO my모델러 > 검색 버튼 클릭
	ppui.on(document.querySelector('.ds-modeler-search'), 'click', function(){
		
	});
	


	//TODO my모델러 > 신규 버튼 클릭
	ppui.on(document.querySelector('.ds-modeler-new'), 'click', function(){
		
	});
	
	
	//TODO my모델러 > 읽어오기 버튼 클릭
	ppui.on(document.querySelector('.ds-modeler-load'), 'click', function(){
		
	});
	
	
	//TODO my모델러 > 삭제 버튼 클릭
	ppui.on(document.querySelector('.ds-modeler-delete'), 'click', function(){
		
	});
	
	
	//TODO my모델러 > 저장 버튼 클릭
	ppui.on(document.querySelector('.ds-modeler-save'), 'click', function(){
		
	});


	
	
	
	//데이터 라이브러리 > 페이징
	dsObj.pagination(100, 1, $('.ds-data-library div.pagination'), function(pageNo){
		mobj.searchDataLibrary(pageNo);
	});
	
	
	//my모델러 > 페이징
	dsObj.pagination(100, 1, $('.ds-modeler div.pagination'), function(pageNo){
		mobj.searchModeler(pageNo);
	});
	
};

//TODO 데이터 라이브러리 > 그룹 목록 로드
ModelerObj.prototype.getGroups = function(){
	pp.submitAjax('./data-library/groups', {}, function(res){
		console.log(res);
	}, {'method':'get'});
};


//TODO 데이터 라이브러리 > 카테고리그룹 목록 로드
ModelerObj.prototype.getCategoryGroups = function(){
	pp.submitAjax('./data-library/category-groups', {}, function(res){
		console.log(res);
	}, {'method':'get'});
	
};

//TODO 데이터 라이브러리 > 목록 검색
ModelerObj.prototype.searchDataLibrary = function(pageNo){
	let param = {};
	param.pageNo = 1;
	param.groupNo = document.querySelector('.groupNo').value;
	param.categoryGroupNo = document.querySelector('.categoryGroupNo').value;
	
	//
	pp.submitAjax('./data-library/datas', param, function(res){
		console.log(res);
	}, {'method':'get'});
	
};

//TODO 데이터 라이브러리 > 목록 > 라디오버튼 클릭



//TODO 카테고리 > 변경전 선택박스 로드
//TODO 카테고리 > 변경후 선택박스 로드


//TODO 속성 > 속정정보 표시



//TODO my모델러 > 검색어 입력
//TODO my모델러 > 목록 표시
//TODO my모델러 > 목록 > 라디오 버튼 클릭






//
let mobj = new ModelerObj();

//
window.addEventListener('load', function(){
	mobj.init();	
});
</script>

</div>